
.p{
    margin: 10px 10px 10px;
    border: solid;
    background-color: aquamarine;
}
 
 h1{
    text-align: center;
  }
  
  form{
    text-align: center;
  border: 0vmax;
  }
  .a{
    width: 40px;
    height: 20px;
}
.b{
   margin-left:30px;
}
.c{
    margin-left: 40px;
}
.d{
    margin-left: 100px;
}


.f{
    margin-left:30px;
}
.g{
    margin-left:30px;
}
.h{
    margin-left:55px;
}
.cda {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #B2B2B2;
   text-align: start;
   text-decoration-color: #A7FFE4;
  }
  
  li {
    float: left;
  }
  .i{
    margin-top: 20px;
  }
  .q{
    margin-left: 10px;
  }



